html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: black;
  color: white;

}

header {
  height: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Azeret Mono';
}



h1 {
  text-shadow: 1px 2px rgba(125, 123, 123, 0.913)
}

/* Search Bar */

.search-element {
  display: flex;

  flex-direction: column;
  position: relative;
}


#search-bar {
  border: 1px solid rgba(125, 123, 123, 0.913);
  border-radius: 8px;
  /*box-shadow: 0px 2px 4px rgba(125, 123, 123, 0.913);*/
  padding: 1rem 0.8rem;
  font-style: 'Star Jedi', arial;
  width: 30vw;
  height: 2vh;

}

#search-bar:focus {
  outline: rgba(125, 123, 123, 0.913);
  box-shadow: 0 9px 0px 0px rgb(0, 0, 0), -12px 0px 15px -4px rgb(17, 9, 255, 0.8), 12px 0 15px -4px rgba(17, 9, 255, 0.8), -12px 0 8px -4px rgba(17, 9, 225, 0.8);

}

/* Search Bar dropdown list */

.search-list {
  position: absolute;
  right: 0;
  top: 100%;
  max-height: 600px;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 2;

}

.hide-search-list {
  display: none;
}

.movie-row {
  z-index: 2;
  display: flex;
  gap: 3em;
  /* justify-content: space-between; */
  padding-top: 0;
  padding-bottom: 0;
  /* border: 1px solid rgba(125, 123, 123, 0.45) */
}

.thumbnail-container {
  /* width: 300px; */
}


.rowinfo-container {
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-self: start;
}

.rowinfo-container h4 {
  font-size: 30px;
}

main {
  margin-top: 10vh;
}

#movie-card {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2em;

}

.info-container {
  width: 60%;
  border: 1px solid rgba(125, 123, 123, 0.475);

}

#main-movie-plot {
  width: 80%
}

/* Media Queries */


/* Portrait */
@media only screen and (max-width: 600px) and (orientation: portrait) {

  header {
    height: 60vw;
  }

  h1 {
    font-size: 35px;
  }

  .movie-row {
    padding: 10px 5px;
    gap: 1.5rem;
  }

  .thumbnail-container img {
    max-width: 100px;
  }

  .rowinfo-container h4 {
    font-size: 10px;
  }
}

@media only screen and (max-width: 480px) and (orientation: portrait) {

  header {
    height: 60vw;
  }

  h1 {
    font-size: 24px;
  }

  .movie-row {
    padding: 10px 5px;
    gap: 1.5rem;
  }

  .thumbnail-container img {
    max-width: 100px;
  }

  .rowinfo-container h4 {
    font-size: 10px;
  }

  .info-container {
    padding: 30px;
  }

}


/* Landscape 
@media only screen and (max-width: 600px) and (orientation: landscape) {
  h1 {
    font-size: 55px;
  }
}*/


@media only screen and (min-width: 481px) and (max-width: 768px) {

  #search-bar {
    font-size: 15px;
  }

  #search-bar[type=text] {
    transition: width.35s ease-in-out;
    transition: width .35s ease-in-out;
  }

  /* fixed the change*/

  #search-bar[type=text]:focus {
    width: 50vw;
  }

  h1 {
    font-size: 40px;
  }

  .movie-row {
    padding: 20px 5px;
  }

  .rowinfo-container h4 {
    font-size: 20px;
  }

  .thumbnail-container img {
    max-width: 150px;
  }

  .info-container {
    padding: 30px;
  }


}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  #search-bar {
    font-size: 25px;
  }

  #search-bar[type=text] {
    transition: width.35s ease-in-out;
    transition: width .35s ease-in-out;
  }

  #search-bar[type=text]:focus {
    width: 69vw;
  }

  h1 {
    font-size: 50px;
  }

  .movie-row {
    padding: 40px 5px;
  }

  .info-container {
    padding: 30px;
  }

  #main-movie-title {
    font-size: 24px;
  }

}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {

  #search-bar {
    font-size: 25px;
  }

  #search-bar[type=text] {
    transition: width.35s ease-in-out;
    transition: width .35s ease-in-out;
  }

  #search-bar[type=text]:focus {
    width: 69vw;
  }

  h1 {
    font-size: 55px;
  }

  .movie-row {
    padding: 40px 5px;
  }

  .info-container {
    padding: 2px 30px;
  }

  #main-movie-title {
    font-size: 30px;
  }

  .info-container p {
    font-size: 20px;
  }
}

@media only screen and (min-width: 1201px) {
  #search-bar {
    font-size: 25px;
  }

  #search-bar[type=text] {
    transition: width.35s ease-in-out;
    transition: width .35s ease-in-out;
  }

  #search-bar[type=text]:focus {
    width: 69vw;

  }

  h1 {
    font-size: 65px;
  }

  .thumbnail-container img {
    max-width: 300px;
  }

  .movie-row {
    padding: 40px 5px;
  }

  #movie-card .image-container {
    max-width: 800px;
  }

  #main-movie-title {
    font-size: 35px;
  }

  .info-container {
    padding: 2px 30px;
  }

  .info-container p {
    font-size: 20px;
  }

  #main-movie-plot {
    font-size: 20px;
  }

}

/* Works on Firefox*/
* {
  scrollbar-width: thin;
  scrollbar-color: blue rgb(255, 255, 255, 0);
}

/*Works on Chrome,
Edge,
and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: rgba(255, 166, 0, 0);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(61, 61, 124);
  border-radius: 15px;
  border: 1px solid rgb(255, 166, 0);
}

#search-bar::placeholder {
  font-style: italic;
}