html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  /* background-color: black; */
  color: black;
}

header {
  height: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Azeret Mono';
}



h1 {
  text-shadow: 1px 2px rgba(125, 123, 123, 0.913)
}

/* Search Bar */

.search-element {
  display: flex;

  flex-direction: column;
  position: relative;
}


#search-bar {
  border: 1px solid rgba(125, 123, 123, 0.913);
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(125, 123, 123, 0.913);
  padding: 1rem 0.8rem;
}

#search-bar:focus {
  outline: rgba(125, 123, 123, 0.913);
}

/* Search Bar dropdown list */

.search-list {
  position: absolute;
  right: 0;
  top: 100%;
  max-height: 500px;
  width: 100%;
  overflow-y: scroll;
  z-index: 2;
}

.hide-search-list {
  display: none;
}

.search-list .movie-row {
  height: 200px;
}

.movie-row img {
  max-width: 300px;
  margin: 0 auto;
  border: 4px solid #fff;
  object-fit: contain;
}




/* Media Queries */


/* Portrait */
@media only screen and (max-width: 600px) and (orientation: portrait) {

  header {
    height: 60vw;
  }

  h1 {
    font-size: 35px;
  }
}

@media only screen and (max-width: 480px) and (orientation: portrait) {

  header {
    height: 60vw;
  }

  h1 {
    font-size: 24px;
  }
}


/* Landscape 
@media only screen and (max-width: 600px) and (orientation: landscape) {
  h1 {
    font-size: 55px;
  }
}*/


@media only screen and (min-width: 481px) and (max-width: 768px) {
  #search-bar {
    width: 50vw;
    height: 2vh;
    font-size: 15px;
  }

  h1 {
    font-size: 40px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  #search-bar {
    width: 69vw;
    height: 5vh;
    font-size: 25px;
  }

  h1 {
    font-size: 50px;
  }

}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {

  #search-bar {
    width: 69vw;
    height: 5vh;
    font-size: 30px;

  }

  h1 {
    font-size: 55px;
  }
}

@media only screen and (min-width: 1201px) {
  #search-bar {
    width: 69vw;
    height: 5vh;
    font-size: 30px;

  }

  h1 {
    font-size: 65px;
  }
}

/* Works on Firefox*/
* {
  scrollbar-width: thin;
  scrollbar-color: blue rgb(255, 255, 255, 0);
}

/*Works on Chrome,
Edge,
and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: rgba(255, 166, 0, 0);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(61, 61, 124);
  border-radius: 15px;
  border: 1px solid rgb(255, 166, 0);
}