body {
  padding: 0;
  height: 100vh;
}

header {
  height: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Azeret Mono';
}



h1 {
  text-shadow: 1px 2px rgba(125, 123, 123, 0.913)
}

.hide-search-list {
  display: none;
}

#search-bar {
  border: 1px solid rgba(125, 123, 123, 0.913);
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(125, 123, 123, 0.913);
  padding: 1rem 0.8rem;
}

#search-bar:focus {
  outline: rgba(125, 123, 123, 0.913);
}

/* Portrait */
@media only screen and (max-width: 600px) and (orientation: portrait) {

  header {
    height: 60vw;
  }

  h1 {
    font-size: 35px;
  }
}

@media only screen and (max-width: 480px) and (orientation: portrait) {

  header {
    height: 60vw;
  }

  h1 {
    font-size: 24px;
  }
}


/* Landscape 
@media only screen and (max-width: 600px) and (orientation: landscape) {
  h1 {
    font-size: 55px;
  }
}*/


.movie-row,
.movie-year,
.movie-title,
.movie-rating {

  background-color: red;
  width: 10px;
  height: 20px;

}